
.normal {

}

.currentFunctionIndex {
  border: 1px solid black;
  text-align: center;
  padding: 10px 0;
  margin: 20px 0;
}

.machineFunctionDiv {
  border: 1px solid #ddd;
}

.singleFunction {
  margin: 45px 0;
  /*border-left: 1px solid black;*/
}
